.tt{
    text-align: center;
    color: blueviolet;
    background-color: cornsilk;
}
.tu{
    text-transform:uppercase;
    font-style: italic;
    font-weight: 900;
    border: 5px solid pink;
    background-color: black;
    color: white;
    text-align: justify;
    padding: 15px;
}
.tr{
    margin-left: 450px;
    box-shadow: 7px 7px darkgrey;
}